/* Fonts */

/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* font-family: 'Bebas Neue', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* font-family: 'Pacifico', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* testing */
.border {
  border: 1px solid red;
}

/* App content */
.content {
  margin: auto;
  width: 85vw;
}

.loading-page {
  display: flex;
  height: 100vh;
  background-color: rgba(235, 226, 226, 0.377);
}
.loading-animation {
  margin: auto;
}

.main {
  background-color: #f9fbfc;
}

/* Ant design addaptions */
.ant-btn-primary {
  color: #fff;
  border-color: #85d4a7;
  background: #85d4a7;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-layout-header {
  /* height: 35px !important; */
  background-color: #ffffff !important;
}
/* 
.ant-layout-sider-trigger {
  background-color: #fff !important;
  color: #001528 !important;
} */
.ant-layout {
  background-color: #f9fbfc !important;
}
.ant-menu {
  margin-top: 10px !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item {
  color: grey;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  /* background-color: #85d4a756 !important; */
  background: rgb(133, 212, 167);
  background: linear-gradient(
    90deg,
    rgba(133, 212, 167, 0.13518910982361698) 0%,
    rgba(133, 212, 167, 0.22762608461353295) 44%,
    rgba(133, 212, 167, 0.5217437316723564) 84%
  );
  border-radius: 5px;
  color: black;
}
.ant-card {
  border-radius: 15px !important;
}
.ant-table {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  border-radius: 20px !important;
}
.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 20px !important;
}
.ant-table-container table > thead > tr:last-child th:last-child {
  border-top-right-radius: 20px !important;
}
.ant-card-actions {
  border-radius: 0 0 20% 20%;
}
.socialBlock .ant-card-bordered {
  margin: 0.9rem 0rem 0.9rem 0.4rem;
  border-radius: 10px !important;
  /* box-shadow: 20px 20px 60px #bebebe; */
}

/* Sidebar */
.logo {
  margin-top: 5px;
  height: 60px;
  background-image: url("https://res.cloudinary.com/prodme-app-cloud-6/image/upload/c_scale,h_60/v1635585368/Kaching/octo_pd7ko2.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}
.ant-menu-item {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem !important;
}
.ant-menu {
  margin-top: 2rem !important;
}

.ant-menu-item .ant-menu-item-selected {
  color: black;
}

/* Header */
.header {
  height: 40px;
}
.header .ant-row {
  box-shadow: 21px 21px 41px #e1e4e99a, -30px -30px 18px #ffffff;
}
.header-menu {
  display: flex;
}
.logo-header {
  margin-top: 0;
}
.header-logo {
  text-align: center;
  height: 40px;
}

/* .header-logo:hover {
  text-align: center;
  letter-spacing: 1.6px;
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
  font-size: 1.4rem;
  transform: scale(1.1);
  transition: 0.5s;
} */

.header-menu-item {
  min-width: 100px;
  text-align: center;
  color: #000000b9;
  font-size: 1rem;
  margin-left: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.header-menu-item:hover {
  transform: scale(1.02);
  color: #32c56d;
  min-width: 100px;
  text-align: center;
  font-size: 1rem;
  margin-left: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.header-menu-item-selected {
  /* border-bottom: 2px solid #32c56e; */
  color: #32c56d;
  min-width: 100px;
  text-align: center;
  font-size: 1rem;
  margin-left: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

/* Login */
.login {
  width: 100vw;
  height: 100vh;
}
.login-card {
  margin-top: 35vh;
}
.login-hero {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  height: 100vh;
}
.login-lottie {
  width: 800px;
  margin: auto;
}
.login-header {
  margin-top: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.ant-btn .login-button {
  border: 1px solid red;
  background-color: #32c56d;
  font-size: 1.9rem;
}
.ant-input-affix-wrapper {
  border-radius: 15px !important;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
.login-form {
  width: 80%;
}
.login-error {
  font-family: "Lato", sans-serif;
  color: #b00020;
}

/* Signup */
.signup {
  width: 100vw;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/prodme-app-cloud-6/image/upload/v1632146188/Kaching/Backgroud_Images/signup_option1_nm7jjg.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 20% 100%;
  background-color: #f2f5fa;
}
.signup-card {
  margin-top: 5%;
  height: 100%;
  padding: 20px;
  max-height: 70vh;
  border-radius: 61px;
  background: #f2f5fa;
  box-shadow: 19px 19px 73px #96989b, -19px -19px 73px #ffffff;
  opacity: 0.97;
}
.signup-link {
  cursor: pointer;
  margin-left: 0.2rem;
  color: #0495ff;
  text-decoration: underline;
}

/* Dashboard */
.dashboard-body {
  height: calc(100vh - 100px);
}
.greeting {
  font-size: 1.6rem !important;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 0.1rem 0 0.2rem 2rem;
}
.greeting-description {
  font-size: 1.05rem !important;
  color: #8f8f8f;
  /* font-family: "Lato", sans-serif; */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 0 0 2rem 2rem;
}

.dashboard-body .ant-btn {
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  transition: all 0.05s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0s;
}
.dashboard-body .ant-btn:hover {
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #32c56e;
  border: #32c56e 1px solid;
}
.dashboard-body .ant-card {
  border-radius: 15px !important;
  box-shadow: 9px 9px 23px #bfc1c58e, -9px -10px 45px #ffffff7e;
}

.site-card-wrapper {
  margin-top: 2rem;
}

.ant-card-head-title {
  font-size: 1.2rem !important;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.dashboard-number {
  font-size: 1.8rem;
  font-family: "Bebas Neue", cursive;
  /* font-weight: bold; */
}
.dashboard-badge {
  margin-top: 50% !important;
}
.dashboard-body .ant-ribbon {
  height: 30px !important;
  font-size: 0.9rem !important;
  border-radius: 20%;
}

.explore-body .on {
  font-size: 0.7rem !important;
}
.explore-body .off {
  font-size: 0.7rem !important;
  visibility: hidden !important;
}
.dashboard-card {
  margin-bottom: 0.5rem;
}
.dashboard-table {
  margin-top: 2rem;
  border-radius: 20px !important;
  box-shadow: 19px 19px 73px #96989b, -19px -19px 73px #ffffff;
  max-height: 20vh !important;
}

/* header */
.header-user-name {
  font-size: 0.9rem !important;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-left: 3%;
}

.header-user-dropdown {
  margin-left: 1%;
}

.menu-row {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  width: 7vw;
  padding: 0.3rem;
}
.sb-avatar__image {
  border-radius: 6px;
}
.sb-avatar__text {
  border-radius: 6px;
}
/* Explore */
.explore-title {
  font-size: 1.6rem !important;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 0.5rem 0 0.2rem 2rem;
}
.explore-subtitle {
  font-size: 1.05rem !important;
  color: #8f8f8f;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 0 0 2rem 2rem;
}
.explore-title-right {
  font-size: 1.2rem !important;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  /* padding: 0.5rem 0 0.2rem 2rem; */
  /* margin: auto; */
}
.explore-subtitle-small {
  font-size: 0.8rem !important;
  color: #8f8f8f;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  /* padding: 0 0 0rem 2rem; */
}
.socialBlock-green {
  font-size: 0.8rem !important;
  color: #8f8f8f;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.socialBlock-green-green {
  font-family: "Lato", sans-serif;
  /* margin-left: 0.2rem; */
  color: #449c23;
}
.socialBlock-red {
  font-family: "Lato", sans-serif;
  margin-left: 0.2rem;
  color: #cf2222;
}
.explore-searchbox {
  margin-bottom: 2rem;
}
.explore-right-column {
  margin-top: 4.2rem;
}
.socialBlock .ant-card-meta-title {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.socialBlock .ant-card-meta-description {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.socialBlock {
  width: 98%;
}
.socialBlock .grey-counter {
  font-size: 0.85rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.expended .ant-card {
}

/* Submission */
.submission .ant-card-meta-title {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.submission .ant-card-meta-description {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
}
.submission {
  width: 99%;
}
.submission .ant-card-bordered {
  margin-top: 0.5rem;
  border-radius: 10px !important;
  /* box-shadow: 20px 20px 60px #bebebe; */
}

/* Playground */
.song {
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
  font-family: "Lato", sans-serif;
}
.song-title {
  margin-left: 0.8rem;
  font-family: "Lato", sans-serif;
}
.low {
  color: red;
  margin-right: 0.8rem;
}
.medium {
  color: orange;
  margin-right: 0.8rem;
}
.high {
  color: green;
  margin-right: 0.8rem;
}

/* Global */
.margin-left {
  margin-left: 0.2rem;
}
.margin-top {
  margin-top: 0.2rem;
}
.margin-top-2 {
  margin-top: 1.5rem;
}
.margin-right {
  margin-right: 0.2rem;
}
.medium-title {
  font-size: 1.6rem !important;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.small-title {
  font-size: 0.9rem !important;
  color: #8f8f8f;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.flex-row {
  display: flex;
}
.margin-left-2 {
  margin-left: 0.8rem;
}

/* ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: darkgrey;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20%;
} */

/* proposal */
.proposal-form {
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
  font-family: "Lato", sans-serif;
}
.proposal-form-title {
  margin-bottom: 1.8rem;
}
.proposal-steper {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-family: "Lato", sans-serif;
}
.proposal-compose-body {
  padding: 1.2rem;
}

.sideBar .ant-collapse {
  margin-top: 1.8rem;
  font-size: 0.9rem !important;
  color: #8f8f8f;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.uploader .ant-upload {
  margin-top: 1.8rem;
}

/* Campaign */
.campaign {
  width: 92%;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.ant-card-meta-title {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.ant-card-meta-description {
  font-size: 0.85rem;
  font-family: "Lato", sans-serif;
}

.campaign .selectedCampaign {
  box-shadow: 8px 1px 24px -13px #55695ecc;
  width: 100% !important;
  /* border: solid 0.1px #85d4a760; */
  /* -webkit-box-shadow: 8px 1px 32px -13px #85d4a760; */
  /* -moz-box-shadow: 8px 1px 32px -13px #85d4a760; */
}

/* .campaigns-mid-column {
  border-right: 1px solid #d1d6dfcc;
  border-left: 1px solid #d1d6dfcc;
} */

.explore-right-column {
  padding-left: 1rem;
  border-left: 1px solid #d1d6dfcc;
}

.submission .soundwave {
  opacity: 0.9;
  margin-top: 1rem;
  max-width: 100%;
}

.music-player-panel {
  background-color: #001528;
}

/* Leaderboard  */

.leaderboard .rank-header {
  font-size: 0.85rem;
  font-family: "Lato", sans-serif;
  color: black;
}
.leaderboard .data {
  font-size: 0.85rem;
  font-family: "Lato", sans-serif;
  color: black;
}

.leaderboard .leaderboardLine {
  background: #ffffff;
  box-shadow: 8px 8px 12px #96989b59, -10px -10px 12px #ffffff4f;
  margin-bottom: 0.5rem;
  margin-top: 0.6rem;
  min-width: 19rem;
  width: 100%;
  border-radius: 6px;
  height: 45px;
}
.leaderboard .leaderboardRow {
  display: flex;
  /* align-items: center; */
}

.leaderboard .trackName {
  margin-top: 0.2rem;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
}
.leaderboard .artistName {
  font-size: 0.9rem;
  color: #96989b98;
  font-family: "Lato", sans-serif;
  margin-left: 2.7rem;
  margin-top: -1.5rem;
}

/* Profile */

.profile-avatar {
  margin: 1.2rem;
}

.profile-avatar:hover {
  opacity: 0.7;
  transform: scale(1.05);
  cursor: pointer;
}
.swal2-actions button {
  background-color: #85d4a7 !important;
  font-family: "Lato", sans-serif;
}
.swal2-actions button .swal2-deny .swal2-styled {
  background-color: red !important;
  font-family: "Lato", sans-serif;
}
.swal2-container h2 {
  font-family: "Lato", sans-serif;
}

/* Bricks */
.graph-placeholder {
  min-height: 120px;
  text-align: center;
}
.graph-placeholder-text {
  padding-top: 10px;
  margin: auto;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}
.empty-dashboard-text {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.instagram-brick .ant-ribbon {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.tiktok-brick .ant-ribbon {
  background: linear-gradient(45deg, #ee1d52 20%, #69c9d0 80%);
}

.tiktok-brick .ant-ribbon-text {
  color: black;
}

.youtube-brick .ant-ribbon {
  background-color: #ff0000;
}

.youtube-brick .ant-ribbon-text {
  color: white;
}
.recharts-layer .recharts-cartesian-axis-tick {
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
}

.ant-modal-root .ant-modal {
  width: 75% !important;
}
.ant-modal-root .ant-modal-header {
  visibility: hidden;
  max-height: 10px;
}
.ant-modal-root .ant-modal-footer {
  visibility: hidden;
  max-height: 10px;
}
.ant-modal-root .ant-modal-content {
  border-radius: 20px !important;
  background-color: #ffffff;
}

.ant-ribbon {
  height: 30px !important;
  font-size: 0.9rem !important;
  border-radius: 20%;
}
.ant-input-affix-wrapper:hover {
  border: 1px solid #85d4a7 !important;
}
